<div>
    <h2>Participations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="participation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Participation
                    </span>
                </button>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-danger btn-sm" ng-model="vm.edit" ng-hide="vm.edit"
                    uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                    <span>Edit</span>
                    <span class="hidden-xs hidden-sm"></span>
                </button>
                <form name="editForm" role="form" novalidate ng-submit="vm.deleteSome()">
                    <button type="submit"
                        class="btn btn-primary btn-sm"
                        ng-show="vm.edit">
                        <span>Cancel</span>
                            <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <button type="submit"
                            ui-sref="participation.delete({id: vm.checkboxIds})"
                            class="btn btn-danger btn-sm"
                            ng-show="vm.edit"
                            ng-disabled="vm.disableDeleteButton">
                        <span>Delete</span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Date</span></th>
                    <th><span>Activity</span></th>
                    <th><span>User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="participation in vm.participations track by participation.id">
                    <td><a ui-sref="participation-detail({id:participation.id})">{{participation.id}}</a></td>
                        <td>{{participation.date | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="activity-detail({id:participation.activity.id})">{{participation.activity.name}}</a>
                    </td>
                    <td>
                        {{participation.user.firstName}}
                    </td>
                    <td class="text-right" style="width: 30%;">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="participation-detail({id:participation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="participation.edit({id:participation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="participation.delete({id:participation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <div class="checkbox" ng-show="vm.edit">
                                <input type="checkbox" name="checkbox{{$index}}" id="checkbox{{$index}}" class="css-checkbox"
                                       ng-model="vm.checkboxes[$index]"
                                       ng-change="vm.addId(participation.id)"/>
                                <label for="checkbox{{$index}}" class="css-label"></label>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
